<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<module-declaration major="1" minor="0" rev="0">
    <description>Blocco la visualizzazione di una serie di pulsanti per il social sharing.</description>
    <version-history>
        <version major="1" minor="0" rev="0">
            Prima versione
        </version>
    </version-history>

    <available-blocks>
        <block name="widgets/social_share">
            <description>Consente di convididere la pagina su fb e altri social network.</description>
        </block>
    </available-blocks>

    <actions>
        <action name="install">
            <add relative_path="blocks/" />
        </action>

        <action name="uninstall">
            <remove relative_path="blocks/" />
        </action>
    </actions>

</module-declaration>