<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<module-declaration major="1" minor="2" rev="0">
    <description>Implementazione gallery con pannello di admin.</description>
    <version-history>
        <version major="1" minor="2" rev="0">
            Aggiunto ridimensionamento automatico con cancellazione cache thumbnails.
        </version>
        <version major="1" minor="1" rev="0">
            Versione con pannello di amministrazione.
        </version>
        <version major="1" minor="0" rev="0">
            Versione iniziale.
        </version>
    </version-history>

    <config-params>
        <param name="GALLERY_ADMIN__ENABLE_FOLDER_ADMINISTRATION" type="bool" required="true">True se e' abilitata la creazione/eliminazione di cartelle, false altrimenti.</param>
        <param name="GALLERY_RESIZE_BY_WIDTH" type="int" required="false">Larghezza da utilizzare per il ridimensionamento dell'immagine.</param>
        <param name="GALLERY_RESIZE_BY_HEIGHT" type="int" required="false">Altezza da utilizzare per il ridimensionamento dell'immagine.</param>
    </config-params>

    <actions>

        <action name="create_tables">

            <create_or_update_table_fields table_name="tab_galleries">
                <autoincrement_id name="id_gallery" />
                <text_256 name="title" null="false" />
                <text_256 name="folder" null="false" />

            </create_or_update_table_fields>

            <create_or_update_table_fields table_name="tab_gallery_images">
                <autoincrement_id name="id_gallery_image" />
                <external_id name="id_gallery" null="false" refers_to="tab_galleries" />
                <text_128 name="name" null="false" />
                <text_1024 name="title" null="false" />

            </create_or_update_table_fields>

            <create_or_update_do name="Gallery" table_name="tab_galleries" location="/lib/gallery/db" />
            <create_or_update_do name="GalleryImage" table_name="tab_gallery_images" location="/lib/gallery/db" />

        </action>

        <action name="install">
            <add relative_path="immagini/" />
            <add relative_path="lib/" />
            <add relative_path="js/" />
            <add relative_path="include/" />
            <add relative_path="css/" />
            <add relative_path="contenuti/" />
            <add relative_path="blocks/" />
        </action>

        <action name="uninstall">
            <remove relative_path="immagini/" />
            <remove relative_path="lib/" />
            <remove relative_path="js/" />
            <remove relative_path="include/" />
            <remove relative_path="css/" />
            <remove relative_path="contenuti/" />
            <remove relative_path="blocks/" />
        </action>
    </actions>

</module-declaration>