<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<module-declaration major="2" minor="1" rev="7">

    <description>Modulo ecommerce di test.</description>

    <pluto>
        <pippo>
            <cappero>
                Ciao
            </cappero>
        </pippo>
    </pluto>

</module-declaration>
